/*.smalltitle {
	
	color: crimson;
} 

body{
	background-color: #36382E;
}

.smalltitle p{
	color:#E7E4A3;
}

.smalltitle h3{
	color:#DD3B3A;
	padding: 5;
	
}.smalltitle h5{
	color: #dadad9;
}
.smalltitle td{
	padding: 5;
}

.uper >a {
	color: #47D2E8;
	
}
*/
body{
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
body  hr{
	color:#36382E;
}