@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@media screen and (min-width: 720px) {
    body {
        font-family: "Beau Sans Pro Book", "Noto Sans TC", Verdana, sans-serif;
        letter-spacing: 2px;
        margin: 0;
        min-width: 720px;
        padding: 0;
        background-color: darkslategrey;
    }

    p {
        margin: 0 0 20px 0;
        line-height: 200%
    }

    p,
    ul {
        font-family: "Proxima Nova Light", 'Noto Serif TC', Arial, Helvetica, sans-serif;
        font-size-adjust: 0.488;
        font-weight: 200;
        font-style: normal;
    }

    img {
        border: 0;
    }

    h2 {
        font-family: "Beau Sans Pro Book", "Noto Sans TC", Verdana, sans-serif;
        font-size-adjust: 0.531;
        font-weight: 500;
        font-style: normal;
    }

    .float-left {
        float: left;
        margin: 0 0 0 0;
        padding: -20vh 0 0 0;
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: salmon;*/
    }

    .float-left>h2,
    blockquote {
        display: block;
    }

    .float-right {
        float: right;
        height: 100%;
        overflow: hidden;
        margin: 0 5vw 0 0;
        padding: 0 0 0 0;
        position: relative;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .float-left hr {
        margin: 0;
        padding: 0;
        size: 5px;
        fill: azure;
    }

    .float-right img {
        width: 100%;
        margin: 0;
    }

    #intro h4 {
        padding: 1vh 2vw;
        margin: 0 0 0 2vw;
    }

    .center {
        font-size: 2.5em;
        padding: 80px 0 0 0;
        text-align: center;
    }

    #nav {
        list-style: none;
        position: fixed;
        right: 20px;
    }

    #nav li {
        margin: 0 0 15px 0;
    }

    #header,
    #intro,
    #second {
        width: 100%;
    }

    #intro {
        background: url(../img/MG1.jpg) 50% 0 no-repeat fixed;
        color: white;
        height: 95vh;
        margin: 0 auto;
        padding: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #second {
        background: url(../img/MSTEADY.jpg) no-repeat;
        background-position: right bottom;
        color: white;
        height: 80vh;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        background-color: darkslategrey;
    }

    .story .bg {
        background: url(../img/dot.png) 50% 0 no-repeat fixed;
        height: 100%;
        margin: 5vh auto 0 auto;
        padding: 0;
        position: absolute;
        width: 90%;
        z-index: 200;
        overflow: hidden;
    }

    #third {
        background: url(../img/MG2.jpg) 50% 0 no-repeat fixed;
        color: green;
        height: 99vh;
        padding: 5vh 0 0 0;
    }

    #fifth {
        background: #ccc;
        height: 400px;
        margin: 0 auto;
        padding: 40px 0 0 0;
    }

    .inbg {
        float: left;
        overflow: hidden;
        width: 20%;
        height: 100%;
        margin: 0 0 0 0;
    }

    .inbg p {
        float: right;
    }

    .inbg h2 {
        font-size: 150%;
    }

    .inbg .study {
        margin: 0 0 0 5%;
    }

    .story {
        margin: 0 auto;
        min-width: 720px;
        overflow: hidden;
        height: 100%;
        width: 90vw;
        /*  background-color: rgba(214, 105, 105, 0.527);
        border: 1px rgb(0, 81, 255) solid;*/
    }

    .overview {
        margin: 0 0 0 5%;
        width: 90vw;
        height: 60vh;
    }

    .show {
        height: 100%;
        width: 100%;
    }

    .inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 2vw 0 0 0;
    }

    .up {
        display: block;
        height: 40%;
    }

    .down {
        display: block;
        height: 40%;
        overflow: hidden;
        margin: 2vw 0 0 0;
    }

    .conts {
        float: left;
        width: 20vw;
        height: 100%;
        overflow: hidden;
        margin: 0 0 0 2vw;
    }

    .conts img {
        width: 100%;
    }

    .context {
        padding: 0;
    }
}